*.o
*.out
*.exe
*.d

gleten-projects/

src/gletenlibs/info-control/gletenJson/


# testing
temp.txt
src/panel/visual.txt
test/       
src/gletenlibs/info-control/test.py
notas.txt

# Program executable
build

build/

*.log

*.tmp

.vscode/
.idea/
*.swp