.banner_config {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner_config img {
    max-width: 30%;
    height: auto;
    transition: all 0.3s ease;
}

.banner_config img:hover {
    transform: translateY(5px)
}
.banner_config img:active {
    transform: translateY(-5px);
}

.config_buttons {
    display: flex;
    padding: 5px 700px;
    border: none;
    height: 60px;
    text-align: center;
}


.button_docs {
    background-color:rgb(3, 102, 61);
    margin-top: 30px;
    border: none;
    padding: 10px 20px;
    width: 150px;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_docs:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(3, 32, 20, 0.89);
}
.button_docs:active {
    transform: translateY(5px);
    box-shadow: 0px 2px 10px rgba(3, 32, 20, 0.89);
}

.button_download {
    background-color:rgb(3, 102, 61);
    margin-top: 30px;
    border: none;
    padding: 10px 20px;
    width: 150px;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_download:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(3, 32, 20, 0.89);
}

.button_download:active {
    transform: translateY(5px);
    box-shadow: 0px 2px 10px rgba(3, 32, 20, 0.89);
}

.button_how_to_use {
    background-color:rgb(33, 102, 61);
    margin-top: 30px;
    border: none;
    padding: 10px 20px;
    width: 150px;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_how_to_use:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(3, 32, 20, 0.89);
}

.button_how_to_use:active {
    transform: translateY(5px);
    box-shadow: 0px 2px 10px rgba(3, 32, 20, 0.89);
}